* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: auto;
}
body {
  width: 100%;
  height: auto;
}

/* The Cover Page ------------------------------------------------------> */
.theCover {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainImagesContainer {
  margin-top: 70px;
  padding: 25px 17px 20px 17px;
  width: 100%;
  height: 54vh;
  display: flex;
}
.phoneImg,
.masArteLogo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.phoneScreen,
.masArteMain {
  width: 100%;
  max-height: 335px;
  max-width: 170px;
}
.hlContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.hl {
  margin: 0;
  border: 1.5px solid #ff914d;
  width: 160px;
}
.myInfo {
  display: flex;
  justify-content: center;
  margin: 35px 0px;
  width: 90%;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
}
.myInfo > ul {
  list-style-type: none;
}
.hlMyInfo {
  color: #9c266b;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
}

/* Para Empezar Page ------------------------------------------------------> */
.generalContainers {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 50px;
  color: #676767;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
}

.subTitles {
  display: flex;
  justify-content: center;
  color: #ff914d;
  font-family: 'Caveat';
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 22px;
}

.txtDiv {
  padding: 0 40px;
}

/* Retos Page ---------------------------------------------------------> */
.txtContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #ffffff;
  background-color: #9c266b;
  text-align: center;
  padding: 6px 30px 7px 30px;
  margin-bottom: 25px;
}

.txtContainerTitle {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
}

.txtContainerText {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 38px;
  width: 100%;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #9c266b;
  font-size: 14px;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 10px; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/* Conoce a los Usuarios -----------------------------------------------------> */
.personCard {
  display: flex;
  border: 1px solid #9c266b;
  padding: 10px;
  margin-bottom: 26px;
}
.personInfo {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
}
.personDescr {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12px;
}
.personImg > img {
  width: 85px;
  height: 85px;
}

/* Auditoría Competitiva -----------------------------------------------------> */
.competitors {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
}

/* Comienzo de Diseño ---------------------------------------------------------> */
.imgContent {
  display: flex;
  justify-content: center;
  width: 100%;
}
.imgContent > img {
  width: 300px;
  margin-bottom: 21px;
}
.secondSubTitle {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #ff914d;
  font-family: 'Caveat';
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 22px;
}
.txtContainerCentered {
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 38px;
  width: 100%;
  margin-bottom: 60px;
}

/* Media queries ------------------------------------------------------> */
@media (min-width: 426px) {
  .theCover {
    flex-direction: row;
  }
  .hl {
    display: none;
  }
  .mainImagesContainer,
  .myInfo {
    height: calc(100%-100px);
    margin-top: 0;
    align-items: center;
  }
  .myInfo > ul {
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 701px) {
  .phoneScreen,
  .masArteMain {
    width: 100%;
    max-height: 719px;
    max-width: 366px;
  }
}

@media (min-width: 769px) {
  .phoneScreen,
  .masArteMain {
    width: 100%;
    max-height: 719px;
    max-width: 366px;
  }
  .myInfo {
    font-size: 20px;
  }
}

@media (min-width: 1000px) {
  .myInfo {
    font-size: 32px;
  }
  .hlMyInfo {
    font-size: 32px;
  }
}
